.venv/
**/__pycache__/
/angular-flask/share/
/angular-flask/lib/
/angular-flask/lib64/
/angular-flask/bin/
site/
web_data/imgur/images/
flask-tdd-docker/__pycache__
flask-restplus/
kafka/setenv.sh
kafka/kafka1/
kafka/zookeeper1/
web_data/imgur/images/
.env
**/.venv/
**/colorado-flood/
**/earthpy-downloads/
**/.ipynb_checkpoints/