-i https://pypi.org/simple/
attrs==20.3.0
click==7.1.2
flasgger==0.9.5
flask==1.1.2
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
jsonschema==3.2.0
markupsafe==1.1.1
mistune==2.0.3
prometheus-client==0.9.0
pyrsistent==0.17.3
pyyaml==5.4.1
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
werkzeug==1.0.1
zipp==3.4.1
