[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]


[packages]
Flask = ">=1.1.1"
flask-restful = ">=0.3.7"
Flask-SQLAlchemy = ">=2.4.0"
psycopg2-binary = "*"
pytest = ">=5.3.1"
gunicorn = ">=19.9.0"
pytest-cov = ">=2.7.1"
flake8 = ">=3.7.8"
black = "==19.3b0"
Flask-Admin = ">=1.5.3"

[requires]
python_version = "3.7"
